# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Environment variables
.env

# Model files and large binaries
*.pkl
*.h5
*.joblib

# Dataset files
*.csv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS / Windows system files
.DS_Store
Thumbs.db
